<%- include('header'),{title:title}; -%>
    <%- include('left-sidebar'); -%>

        <section class="main-content">
            <div class="about-us-wrapper">
                <div class="info-section-header">
                    <h2 class="section-header">
                        Health Tips
                    </h2>
                    <div class="action-button">
                        <span>
                            <i class="fa-solid fa-circle-plus"></i>
                        </span>
                        <span>
                            <i class="fa-solid fa-bell"></i>
                        </span>
                        <span>
                            <i class="fa-solid fa-circle-user"></i>
                        </span>
                    </div>
                </div>
                <div class="info-section-content">
                    <h4>সুস্বাস্থ্যের জন্য কিছু নিয়মাবলী</h4>
                    <p>
                        ১। এটি নমুনা বাক্য। শিক্ষা মন্ত্রণালয় ভবনের সামনে এই বিক্ষোভে প্রায় ৪০ নারী অংশ নেন। তাঁদেরকে
                        ‘রুটি, রুজি ও স্বাধীনতা’
                        স্লোগান দিতে শোনা যায়।
                        এরপর ফাঁকা গুলি ছুড়ে তাঁদের ছত্রভঙ্গ করে দেওয়া হয়। এ সময় কয়েকজন নারী দৌড়ে পার্শ্ববর্তী দোকানে
                        আশ্রয় নিলে তাঁদের ধাওয়া
                        করে বন্দুকের বাঁট দিয়ে আঘাত করে তালেবান যোদ্ধারা।
                    </p>
                    <p>
                        ২। বিক্ষোভকারীদের বহন করা ব্যানারে লেখা ছিল ‘১৫ আগস্ট কালো দিন’। বিক্ষোভে অংশ নেওয়া নারীরা কাজ
                        করার ও রাজনীতিতে
                        অংশগ্রহণের অধিকারের দাবি জানান। তাঁরা ‘ন্যায়বিচার চাই/অবহেলায় আমরা ক্ষুব্ধ’ প্রভৃতি স্লোগান দেন।
                        এ সময় অনেক বিক্ষোভকারীই
                        নিকাব পরিহিত ছিলেন না।
                        কয়েক মাসের মধ্যে নারীদের প্রথম কোনো বিক্ষোভ ছিল এটি। এই কর্মসূচির খবর সংগ্রহ করতে যাওয়া
                        সাংবাদিকদেরও মারধর করে তালেবান
                        যোদ্ধারা।
                    </p>

                    <p>
                        ৩। শিক্ষা মন্ত্রণালয় ভবনের সামনে এই বিক্ষোভে প্রায় ৪০ নারী অংশ নেন। তাঁদেরকে ‘রুটি, রুজি ও
                        স্বাধীনতা’ স্লোগান দিতে শোনা
                        যায়।
                        এরপর ফাঁকা গুলি ছুড়ে তাঁদের ছত্রভঙ্গ করে দেওয়া হয়। এ সময় কয়েকজন নারী দৌড়ে পার্শ্ববর্তী দোকানে
                        আশ্রয় নিলে তাঁদের ধাওয়া
                        করে বন্দুকের বাঁট দিয়ে আঘাত করে তালেবান যোদ্ধারা।
                    </p>
                    <p>

                        ৪। কয়েক মাসের মধ্যে নারীদের প্রথম কোনো বিক্ষোভ ছিল এটি। এই কর্মসূচির খবর সংগ্রহ করতে যাওয়া
                        সাংবাদিকদেরও মারধর করে
                        তালেবান যোদ্ধারা।
                    </p>
                    <span class="edit-btn">
                        <i class="fa-solid fa-pen"></i>
                    </span>
                </div>
            </div>
        </section>

        <%- include('footer'); -%>

            <!-- <script>
                function addActiveClass(id) {
                    document.querySelector(id).classList.add("active");
                }

                addActiveClass("#healthTips")
            </script> -->