<%- include('header'),{title:title}; -%>
    <%- include('left-sidebar'); -%>

        <section class="main-content">
            <div class="nurses-list-wrapper">
                <div class="info-section-header">
                    <h2 class="section-header">
                        Medical Equipments
                    </h2>
                    <div class="action-button">
                        <span>
                            <i class="fa-solid fa-circle-plus"></i>
                        </span>
                        <span>
                            <i class="fa-solid fa-bell"></i>
                        </span>
                        <span>
                            <i class="fa-solid fa-circle-user"></i>
                        </span>
                    </div>
                </div>
                <div class="nurses-list-content">
                    <div class="nurses-list-table">
                        <table class="table table-bordered table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Buying Price</th>
                                    <th scope="col">Selling Price</th>
                                    <th scope="col">Contact No</th>
                                    <th scope="col">Whatsapp</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        <img src="images/user-sample-image.png" alt="" class="nurse-image">
                                    </th>
                                    <td>Bismillah Enterprize</td>
                                    <td>45000</td>
                                    <td>45000</td>
                                    <td>01xxxxxxxxx</td>
                                    <td>01xxxxxxxxx</td>
                                    <td class="table-action-btn"><i class="fa-solid fa-trash"></i></td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <img src="images/user-sample-image.png" alt="" class="nurse-image">
                                    </th>
                                    <td>Bismillah Enterprize</td>
                                    <td>45000</td>
                                    <td>45000</td>
                                    <td>01xxxxxxxxx</td>
                                    <td>01xxxxxxxxx</td>
                                    <td class="table-action-btn"><i class="fa-solid fa-trash"></i></td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <img src="images/user-sample-image.png" alt="" class="nurse-image">
                                    </th>
                                    <td>Bismillah Enterprize</td>
                                    <td>45000</td>
                                    <td>45000</td>
                                    <td>01xxxxxxxxx</td>
                                    <td>01xxxxxxxxx</td>
                                    <td class="table-action-btn"><i class="fa-solid fa-trash"></i></td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <img src="images/user-sample-image.png" alt="" class="nurse-image">
                                    </th>
                                    <td>Bismillah Enterprize</td>
                                    <td>45000</td>
                                    <td>45000</td>
                                    <td>01xxxxxxxxx</td>
                                    <td>01xxxxxxxxx</td>
                                    <td class="table-action-btn"><i class="fa-solid fa-trash"></i></td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <img src="images/user-sample-image.png" alt="" class="nurse-image">
                                    </th>
                                    <td>Bismillah Enterprize</td>
                                    <td>45000</td>
                                    <td>45000</td>
                                    <td>01xxxxxxxxx</td>
                                    <td>01xxxxxxxxx</td>
                                    <td class="table-action-btn"><i class="fa-solid fa-trash"></i></td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <img src="images/user-sample-image.png" alt="" class="nurse-image">
                                    </th>
                                    <td>Bismillah Enterprize</td>
                                    <td>45000</td>
                                    <td>45000</td>
                                    <td>01xxxxxxxxx</td>
                                    <td>01xxxxxxxxx</td>
                                    <td class="table-action-btn"><i class="fa-solid fa-trash"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="add-information">
                        <div class="add-information-header">
                            <i class="fa-solid fa-pen"></i>
                            Add a medical equipment
                        </div>
                        <div class="add-information-form">
                            <form>
                                <div class="form-inner-div">
                                    <div class="d-flex align-items-center name">
                                        <label>Name</label>
                                        <input type="text" name="" id="medical-equipment-name" class="form-control">
                                    </div>
                                    <div class="information-upload">
                                        <div class="information-upload-input">
                                            <label for="equipment-files" class="file-upload-btn">
                                                <p>Select a photo to
                                                    upload</p>
                                                <span><i class="fa-solid fa-image"></i></span>
                                            </label>
                                            <input id="equipment-files" style="display:none" type="file">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-inner-div">
                                    <div class="d-flex align-items-center equipment-buying-price">
                                        <label>Buying Price</label>
                                        <input type="text" name="" id="medical-equipment-buying-price"
                                            class="form-control">
                                    </div>
                                    <div class="d-flex align-items-center equipment-selling-price">
                                        <label>Selling Price</label>
                                        <input type="text" name="" id="medical-equipment-selling-price"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="form-inner-div">
                                    <div class="d-flex align-items-center equipment-contact-no">
                                        <label>Contact No</label>
                                        <input type="text" name="" id="medical-equipment-contact-no"
                                            class="form-control">
                                    </div>
                                    <div class="d-flex align-items-center equipment-whatsapp">
                                        <label>Whatsapp</label>
                                        <input type="text" name="" id="medical-equipment-whatsapp" class="form-control">
                                    </div>
                                </div>
                                <div class="add-information-form-submit-btn">
                                    <button type="submit" class="btn btn-warning">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('footer'); -%>