<%- include('header'),{title:title}; -%>
    <%- include('left-sidebar'); -%>

        <!-- Main Content -->
        <section class="main-content">
            <div class="nurses-list-wrapper">
                <div class="info-section-header">
                    <h2 class="section-header">
                        Nurses
                    </h2>
                    <div class="action-button">
                        <span>
                            <i class="fa-solid fa-circle-plus"></i>
                        </span>
                        <span>
                            <i class="fa-solid fa-bell"></i>
                        </span>
                        <span>
                            <i class="fa-solid fa-circle-user"></i>
                        </span>
                    </div>
                </div>
                <div class="nurses-list-content">
                    <div class="nurses-list-table">
                        <table class="table table-bordered table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Mobile</th>
                                    <th scope="col">Age</th>
                                    <th scope="col" class="nurse-reg-type">Reg. Type</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">Membership</th>
                                    <th scope="col">BNMC Reg no.</th>
                                    <th scope="col">Donor</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        <img src="images/user-sample-image.png" alt="" class="nurse-image">
                                    </th>
                                    <td>Md. Aminul Islam</td>
                                    <td>017500000000</td>
                                    <td>34</td>
                                    <td>Diploma in nursing Science and Midwifey (3year)</td>
                                    <td>Area, District, Division</td>
                                    <td>6 months</td>
                                    <td>01xxxxxxxxxxxxxxxx</td>
                                    <td>Yes</td>
                                    <td class="table-action-btn"><i class="fa-solid fa-trash"></i></td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <img src="images/user-sample-image.png" alt="" class="nurse-image">
                                    </th>
                                    <td>Md. Aminul Islam</td>
                                    <td>017500000000</td>
                                    <td>34</td>
                                    <td>Diploma in nursing Science and Midwifey (3year)</td>
                                    <td>Area, District, Division</td>
                                    <td>6 months</td>
                                    <td>01xxxxxxxxxxxxxxxx</td>
                                    <td>Yes</td>
                                    <td class="nurse-table-action-btn"><i class="fa-solid fa-trash"></i></td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <img src="images/user-sample-image.png" alt="" class="nurse-image">
                                    </th>
                                    <td>Md. Aminul Islam</td>
                                    <td>017500000000</td>
                                    <td>34</td>
                                    <td>Diploma in nursing Science and Midwifey (3year)</td>
                                    <td>Area, District, Division</td>
                                    <td>6 months</td>
                                    <td>01xxxxxxxxxxxxxxxx</td>
                                    <td>Yes</td>
                                    <td class="nurse-table-action-btn"><i class="fa-solid fa-trash"></i></td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <img src="images/user-sample-image.png" alt="" class="nurse-image">
                                    </th>
                                    <td>Md. Aminul Islam</td>
                                    <td>017500000000</td>
                                    <td>34</td>
                                    <td>Diploma in nursing Science and Midwifey (3year)</td>
                                    <td>Area, District, Division</td>
                                    <td>6 months</td>
                                    <td>01xxxxxxxxxxxxxxxx</td>
                                    <td>Yes</td>
                                    <td class="nurse-table-action-btn"><i class="fa-solid fa-trash"></i></td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <img src="images/user-sample-image.png" alt="" class="nurse-image">
                                    </th>
                                    <td>Md. Aminul Islam</td>
                                    <td>017500000000</td>
                                    <td>34</td>
                                    <td>Diploma in nursing Science and Midwifey (3year)</td>
                                    <td>Area, District, Division</td>
                                    <td>6 months</td>
                                    <td>01xxxxxxxxxxxxxxxx</td>
                                    <td>Yes</td>
                                    <td class="nurse-table-action-btn"><i class="fa-solid fa-trash"></i></td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <img src="images/user-sample-image.png" alt="" class="nurse-image">
                                    </th>
                                    <td>Md. Aminul Islam</td>
                                    <td>017500000000</td>
                                    <td>34</td>
                                    <td>Diploma in nursing Science and Midwifey (3year)</td>
                                    <td>Area, District, Division</td>
                                    <td>6 months</td>
                                    <td>01xxxxxxxxxxxxxxxx</td>
                                    <td>Yes</td>
                                    <td class="nurse-table-action-btn"><i class="fa-solid fa-trash"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="registration-edit">
                                <h3 class="edit-reg-type">
                                    <i class="fa-solid fa-pen"></i>
                                    Edit registration type
                                </h3>
                                <div class="reg-type-list">
                                    <p>
                                        <span>
                                            B.Sc. in Nursing ( 4 year )
                                        </span>
                                        <i class="fa-solid fa-circle-minus"></i>
                                    </p>
                                    <p>
                                        <span>
                                            B.Sc. in Nursing ( Post Basic )
                                        </span>
                                        <i class="fa-solid fa-circle-minus"></i>
                                    </p>
                                    <p>
                                        <span>
                                            Diploma in Nursing Science and Midwifey ( 3 year )
                                        </span>
                                        <i class="fa-solid fa-circle-minus"></i>
                                    </p>
                                    <p>
                                        <span>
                                            Diploma in Midwifey ( 3 year )
                                        </span>
                                        <i class="fa-solid fa-circle-minus"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="add-reg-type">
                                <form>
                                    <label for="addNewReg" class="form-label">Add a new type</label>
                                    <input type="text" class="form-control" id="addNewReg">
                                    <div class="add-reg-type-btn">
                                        <button type="submit" class="btn btn-warning">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('footer'); -%>

            <!-- <script>
                function addActiveClass(id) {
                    console.log("run");
                    document.querySelector(id).classList.add("active");
                }

                addActiveClass("#nurseList")
            </script> -->